/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "machiatto.css";

/*
  Polar Night
  nord0  #2e3440
  nord1  #3b4252
  nord2  #434c5e
  nord3  #4c566a
  Snow Storm
  nord4  #d8dee9
  nord5  #e5e9f0
  nord6  #eceff4
  Frost
  nord7  #8fbcbb
  nord8  #88c0d0
  nord9  #81a1c1
  nord10 #5e81ac
  Aurora
  nord11 #bf616a
  nord12 #d08770
  nord13 #ebcb8b
  nord14 #a3be8c
  nord15 #b48ead
  */

/* -----------------------------------------------------------------------------
   * Base styles
   * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: @lavender;
    border: 0;
    padding: 0 0;
    /* font-family: UbuntuMono; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "JetBrainsMono NF SemiBold";
    font-size: 16px;
    font-weight: normal;
    /* padding-bottom:4px;
      padding-top: 4px; */
    transition: all 0.5s ease;
}

window#waybar {
    border-bottom: 3px solid #000000;
    /* border-bottom: 2px solid shade(alpha(@text, 1), 1.2); */
    /* border-radius: 10px; */
    /* background:#2d2a2e; */
    /* background-color: rgba(36, 39, 58, 0.85); */
    /* background-color: rgba(0, 0, 0, 0); */
    background-color: #000000;
}

#workspaces button {
    color: @base;
    border-radius: 50%;
    /* background-color: @base; */
    margin: 0px 5px 0px 5px;
    padding: 0px 6px 2px 0px;
}

#workspaces button:hover * {
    color: @pink;
}

#workspaces button:hover {
    color: @pink;
    border-radius: 20px;
}

#workspaces * {
    color: whitesmoke;
}

#workspaces {
    border-style: solid;
    /* background-color: @base; */
    opacity: 1;
    border-radius: 10px;
    background-color: shade(#24273A, 1);
    border-radius: 0px 20px 0px 0px;
    padding: 0px 10px 0px 5px;
    margin-top: 0;
    /* margin: 2px 6px 6px 8px; */
}

#workspaces button.focused {
    border-radius: 20px;
    /* background-color: @flamingo; */
}

#workspaces button.focused * {
    color: @red;
}

#workspaces button.peristent {
    color: @green;
}
#workspaces button.peristent * {
    color: @green;
}


#mode {
    color: #ebcb8b;
}

#clock,
#custom-swap,
#custom-background,
#custom-cava-internal,
#battery,
#bluetooth,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-power_profile,
#backlight,
#network,
#pulseaudio,
#mode,
#custom-power,
#custom-pacman,
#tray,
#mpd {
    padding: 0px 8px;
    border-style: solid;
    /* background-color: shade(@base, 1.1); */
    opacity: 1;
    margin: 0px 0px 0px;
}

/* -----------------------------------------------------------------------------
   * Module styles
   * -------------------------------------------------------------------------- */

#tray,
#battery,
#bluetooth {
    color: #ffffff;
    padding: 0px 8px 0px 10px;
    margin-bottom: 0px;
    background-color: #24273A;
}

#custom-bitcoinprice {
    border-radius: 10px;
    color: @peach;
    padding: 0px 8px 0px 8px;
    margin: 0px 0px 0px;
    font-size: 14px;
    /* background-color: shade(@base, 1.1); */
}
#custom-swap {
    border-radius: 10px;
    color: @text;
    margin-left: 5px;
    margin-right: 5px;
    background-color: shade(@base, 1.1);
}

#custom-background {
    border-radius: 0px 10px 10px 0px;
    background-color: @base;
    color: white;
    opacity: 0;
    padding: 0px 14px 5px 5px;
}

#clock {
    /* background-color:#a3be8c; */
    color: @blue;
    font-size: 14px;
    border-radius: 10px;
    /* margin: 2px 2px; */
}

#backlight {
    /* color: @teal; */
    font-size: 14px;
    color: @sky;
    /* border-bottom: 2px solid @yellow; */
    /* border-radius: 10px 0 0 10px; */
}

#battery {
    border-radius: 0px 0px 0px 0px;
    color: #d8dee9;
    /* border-bottom: 2px solid #d8dee9; */
    /* border-radius: 0 10px 10px 0; */
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px 8px 0px 8px;
}

#battery.charging {
    color: @green;
    /* border-bottom: 2px solid #81a1c1; */
}

@keyframes blink {
    to {
        color: @red;
        /* border-bottom: 2px solid @red; */
    }
}

#battery.critical:not(.charging) {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @sky;
    /* border-bottom: 2px solid @sky; */
}

#cpu #cpu-icon {
    color: @sky;
}

#memory {
    color: @sky;
}

#network.disabled {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#network {
    color: @green;
    /* border-bottom: 2px solid @green; */
    border-radius: 10px;
    margin-right: 5px;
}

#network.disconnected {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio {
    padding: 0px 8px 0px 8px;
    margin-bottom: 0px;
    background-color: #24273A;
    color: #ffffff;
}

#pulseaudio.muted {
    color: #ffffff;
    /* border-bottom: 2px solid #3b4252; */
}

#temperature {
    color: @yellow;
    /* border-bottom: 2px solid @teal; */
    font-size: 14px;
    border-radius: 10px 0 0 10px;
}

#temperature.critical {
    color: @red;
    /* border-bottom: 2px solid @red; */
}

#idle_inhibitor {
    background-color: #24273A;
    color: #ffffff;
    padding: 0px 8px 0px 8px;
    margin-bottom: 0px;
}

#custom-pacman {
    color: @green;
    font-size: 14px;
}

#tray {
    border-radius: 20px 0 0px 0px;
    padding: 0px 3px 0px 14px;
    margin-bottom: 0px;
    font-size: 9px;
}

#custom-todolist {
    color: @maroon;
    /* border-bottom: 2px solid @teal; */
    font-size: 14px;
    border-radius: 10px 0 0 10px;
    padding: 0px 0px 0px 8px;
}


#window {
    background-color: shade(#24273A, 1);
    color: @red;
    border-radius: 0px 20px 0px 0px;
    padding: 0px 14px 0px 10px;
    color: #eceff4;
}

#mode {
    margin-bottom: 3px;
}




