/* Copyright (C) 2020-2023 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #24273a;
    background-alt: #1e2030;
    border:         #a6da95;
    foreground:     #cad3f5;
    selected:       #eed49f;
    active:         #ed8796;
    urgent:         #f5a97f;
}
