/* Confirm Dialog */

@import "colors/nord.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
	font:				 	"FiraCode Nerd Font Mono 12";
}

window {
    width:      			360px;
    padding:    			25px;
    border:					0px;
    border-radius:          12px;
    border-color:           @accent;
    location:               center;
    y-offset:               -20px;
}

entry {
    expand: 				true;
    text-color:				@accent;
}
